.button {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    border: none;
}

.button-red:hover {
    background-color:#dd5555;
}

.button-red {
    background-color: #ee3333;
    color: #fff;
    padding: 10px 30px;
    border: none;
}

.button:hover {
    background-color:#555;
}


.container {
    width: 50%;
    margin: auto;
}

.general-form .form-item {
    padding-bottom: 15px;
}

.general-form input, .general-form textarea {
    padding: 8px;
    width: 100%;
}
